
<ul id="ulMenu">
    <li><a href="{{ baseUrl }}stronaUzytkownika">Strona użytkownika
        <i class="fas fa-user"></i></a>
    </li>
    <li><a href="link">Zgłoszenia
        <i class="fas fa-envelope-open-text"></i></a>
    </li>
    <li><a href="link">Budynki
        <i class="fas fa-building"></i></a>
    </li>
    <li><a href="link">Ustawienia
        <i class="fas fa-cog"></i></a>
    </li>
</ul>