<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budynki</title>
    <link rel="stylesheet"  href="{{ asset('css/menuBoczne.css') }}">
</head>
<body>


<div class="left-menu">
    <a id="daneKontrahenta" href="{{ baseUrl }}stronaUzytkownika">
        <div class="left-menu-button">
            <svg class="daneUzytkownikaIcons"></svg>
            <div>Kontrahenci</div>
        </div>
    </a>
    <a id="dodowanieKontrahenta">
        <div class="left-menu-button">
            <svg class="listaObecnosciIcons"></svg>
            <div>Dodowanie kontrahenta</div>
        </div>
    </a>

    <div class="Handler">
        <svg class="menuIcons"></svg>
    </div>
</div>

</body>

<script>
    $(document).ready(function(){

        let sciezka = window.location.href;
        if (sciezka.indexOf("stronaBudynki") != -1) {
            $('#daneKontrahenta').css("color", "rgba(7, 74, 155,1)");
        };

        $('.left-menu').on('mouseenter',function(){
            $('main,header,nav,footer').css('opacity', '0.5');
        });
        $('.left-menu').on('mouseleave',function(){
            $('main,header,nav,footer').css('opacity', 'unset');
        });

    });
</script>


</html>