<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budynki</title>
    <link rel="stylesheet"  href="{{ asset('css/menuBoczne.css') }}">
</head>
<body>

    <ul class ="ulMenuBoczne">
        <li class="liMenuBoczne">
            <a class = "aMenuBoczne" href="link">Klienci</a>
        </li>
        <li class="liMenuBoczne">
            <a class = "aMenuBoczne" href="link">Dodaj klienta</a>
        </li>
    </ul>


</body>
</html>