<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zgłoszenia</title>
    <link rel="stylesheet"  href="{{ asset('css/menuBoczne.css') }}">
</head>
<body>


<ul class="ulMenuBoczne">
    <li class="liMenuBoczne">
        <a class="aMenuBoczne" href="link">Nowe zgłoszenia</a>
    </li>
    <li class="liMenuBoczne">
        <a class="aMenuBoczne" href="link">Dodaj zgłoszenie</a>
    </li>
    <li class="liMenuBoczne">
        <a class="aMenuBoczne" style="" href="link">Historia</a>
    </li>
</ul>
</body>
</html>