<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Użytkownik</title>
    <link rel="stylesheet"  href="{{ asset('css/menuBoczne.css') }}">
</head>
<body>



<ul class ="ulMenuBoczne">
    <li class="liMenuBoczne">
        <a class = "aMenuBoczne" href="link">Dane użytkownika</a>
    </li>
    <li class="liMenuBoczne">
        <a class = "aMenuBoczne" href="link">Zgłaszanie obecności</a>
    </li>
    <li class="liMenuBoczne">
        <a class = "aMenuBoczne" style="" href="link">Wnioski o urlop</a>
    </li>
    <div class="Handler">
        <svg class="menuIcons"></svg>
    </div>
</ul>


{#<div class="left-menu">#}
{#    <div class="left-menu-button">#}
{#    </div>#}
{#    <div class="left-menu-button">#}
{#    </div>#}
{#    <div class="left-menu-button">#}
{#    </div>#}
{#    <div class="Handler"></div>#}
{#</div>#}
</body>
</html>