
<style>

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
            grid-template-rows: minmax(50px, 1fr); /* 50px ponieważ sekcja nav ma 0.5fr co odpowiada 50px, 1fr - jeden wiersz ( w tym przypadku ) */
            padding: 0px;
            margin: 0px;
            list-style: none;

            /* wysrodkowanie li  - nie potrzebny display: flex */
            justify-content: center;
            align-items: center;



        }

        /* li dostosowuje sie do ul */
        /*li {*/
        /*    border: inset #455A64;*/
        /*    display:flex;*/
        /*    justify-content: center;*/
        /*    align-items: center;*/
        /*    height: 40px;*/
        /*    box-shadow: 1px 1px 10px #607D8B;*/


        li {
            cursor: pointer;
            height: 60px;
            line-height: 40px;
            padding: 0px 0px;
            background: transparent;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        li:hover{

            /*color:green;*/


        }

        a {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            outline: none;
            letter-spacing: 1px;
            color: #565656;
        }

        a:hover {
            color: rgba(7, 74, 155,1);


        }

        @media only screen and (max-width: 840px) {
            a {
                font-size: 75%;
            }
        }

</style>

<ul id="ulMenu">
    <li>
        <a id="a" href="{{ baseUrl }}stronaUzytkownika">Użytkownik</a>
    </li>
    <li>
        <a href="{{ baseUrl }}stronaZgloszenia">Zgłoszenia</a>
    </li>
    <li>
        <a href="{{ baseUrl }}stronaBudynki">Budynki</a>
    </li>
    <li>
        <a href="link">Ustawienia</a>
    </li>
    <li>
        <a href="{{ baseUrl }}stronaAdministratora">Admin</a>
    </li>
</ul>