
<style>

        ul {
            border: solid green;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: minmax(50px, 1fr); /* 50px ponieważ sekcja nav ma 0.5fr co odpowiada 50px, 1fr - jeden wiersz ( w tym przypadku ) */
            padding: 0;
            margin: 0;
            list-style: none;

            /* wysrodkowanie li  - nie potrzebny display: flex */
            justify-content: center;
            align-items: center;
        }

        /* li dostosowuje sie do ul */
        li {
            border: solid red;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 25px;
        }

        a {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            outline: none;
            letter-spacing: 1px;
            color: rgba(85, 85, 85, 1);
        }

        @media only screen and (max-width: 840px) {
            a {
                font-size: 10px;
            }
        }

</style>

<ul id="ulMenu">
    <li><a id="a" href="{{ baseUrl }}stronaUzytkownika">Użytkownik
        <i class="fas fa-user"></i></a>
    </li>
    <li><a href="link">Zgłoszenia
        <i class="fas fa-envelope-open-text"></i></a>
    </li>
    <li><a href="link">Budynki
        <i class="fas fa-building"></i></a>
    </li>
    <li><a href="link">Ustawienia
        <i class="fas fa-cog"></i></a>
    </li>
</ul>