
<ul id="ulPanelBoczny">
    <li>
        <a href="link">Dane użytkownika</a>
    </li>
    <li>
        <a href="link">Zgłaszanie obecności</a>
    </li>
    <li>
        <a style="" href="link">Wnioski o urlop</a>
    </li>
</ul>