
<link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}">
<link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}">

    <div class="nazwaStrony"> Lukinia - Dbanie o zarządzanie</div>
    <div id="wyswietlLogin"> {{ daneUzytkownikaArr.NazwaUzytkownika }}</div>
    <div class="ikonaWyloguj">
        <a id="wyloguj" href="{{ baseUrl }}wyloguj">
            <svg class="wlacz_wylacz"></svg>
        </a>
    </div>



