.tableRaportKontrahenci{

    /*border: solid purple;*/
    max-width: 55%;
    max-height: 57%;
    margin-left: 2%;
    margin-top: 5%;
    overflow-y: scroll;
    position: absolute;
}
.reportTableKontrahenci {
    background: transparent;
    font-size:14px;
    border-collapse: separate;
    border-spacing: 0;
}
.reportTableKontrahenci th,
.reportTableKontrahenci td {
    padding: 1vh;
    text-align: left;
    /*border:solid yellow;*/
}
.reportTableKontrahenci td {
    border-top: 1px solid rgb(212, 210, 210);
}
.reportTableKontrahenci th {
    background-color: rgb(248, 248, 248);

}
.reportTableKontrahenci thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}
.reportTableKontrahenci tbody th[scope=row] {
    position: sticky;
    left: 0;
    z-index: 9;
    border-top: 1px solid rgb(212, 210, 210);
    cursor: pointer;
}
.reportTableKontrahenci thead th[scope=row] {
    position: sticky;
    left: 0;
    z-index: 11;
}
.reportTableKontrahenci tbody {
    /* zawijanie wierszy w tabeli !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    /*overflow-wrap: anywhere;*/
}

.reportTableKontrahenci .daneAdresoweTab,.reportTableKontrahenci .daneKontaktoweTab,.reportTableKontrahenci .usunKontrahentaButton{
    text-align: center;
}

.thKontrahenci{

    color:rgba(0, 60, 125,0.8);
    cursor: unset;
}

.errorSuccess {
    width: 1.3vw;
    height: 2.5vh;
    margin-left: 15vw;
    margin-top: -5.4vh;
    position: absolute;
    cursor: pointer;
    /*border: solid yellow;*/
}

.zamknijSekcje{
    font-size: 1vw;
    cursor:pointer;
    margin-left:22vw;
    font-weight: bold;
}

.earthIcon {
    width: 1.5vw;
    height: 3vh;
    margin-top: 0.5vh;
    /*border:solid red;*/
    cursor: pointer;
    background: url('../icons/Earth.svg') no-repeat;
}

.wyczyscIcons {
    width: 2vw;
    height: 3vh;
    margin-top: 0.5vh;
    /*border:solid red;*/
    cursor: pointer;
    background: url('../icons/wyczysc.svg') no-repeat;
}

.telefonIcons {
    width: 1.5vw;
    height: 3vh;
    margin-top: 0.5vh;
    /*border:solid red;*/
    cursor: pointer;
    background: url('../icons/telefon.svg') no-repeat;
}

.koszIcons {
    width: 1.5vw;
    height: 3vh;
    margin-top: 0.5vh;
    /*border:solid red;*/
    cursor: pointer;
    background: url('../icons/kosz.svg') no-repeat;
}

.edycjaIcons {
    width: 1.5vw;
    height: 3vh;
    margin-top: 0.5vh;
    /*border:solid red;*/
    cursor: pointer;
    background: url('../icons/dokument_olowek.svg') no-repeat;
}
