<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="formId" name="formName" method="POST" action="{{ baseUrl }}first/page">

        <input type="text" value="" name="ajaj" />

        <button type="submit" >Napierda</button>

    </form>



</body>
</html>